body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(54, 46, 46, 0.1);
}
.link-styled {
    color: #8400ff; /* 设置链接文字颜色为蓝色 */
    text-decoration: none; /* 去除下划线 */
    font-weight: bold; /* 设置文字加粗 */
    transition: color 0.3s; /* 添加颜色过渡效果 */
}

.link-styled:hover {
    color: #40ff00; /* 鼠标悬停时改变颜色 */
}
.article-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
}

.article-card-user-info {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.article-card-title {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 5px;
}

.article-card-title a {
    text-decoration: none;
    color: #007bff;
}

.article-card-content {
    font-size: 16px;
    color: #666;
}

.article-card-content:after {
    content: '';
    display: block;
    clear: both;
}