/* 导航栏样式 */
.navbar {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    position: fixed; /* 使导航始终悬浮于屏幕顶部 */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100; /* 提高堆叠顺序，防止被其他元素遮挡 */
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar .search-container {
      display: flex;
      align-items: center;
      margin-left: 20px;
}

.input1 {
  padding: 5px;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 200px;
}

.button1 {
  padding: 5px 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.button1:hover {
  background-color: #45a049;
}