{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.name }}的主页</title>
    <link rel="stylesheet" href="{% static 'user_index.css' %}">
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
</head>
<body>
<div class="navbar">
        <a href="{% url 'ys:home' %}">首页</a>
        <a href="{% url 'ys:create_topic' %}" target="_blank">新建话题</a>
        <a href="{% url 'ys:write' %}" target="_blank">写文章</a>
        <div class="search-container">
            <form action="{% url 'ys:home' %}" method="get">
                <label>
              <input type="text" placeholder="搜索" value="" class="input1" name="search">
                    </label>
              <button class="button1" type="submit">搜索</button>
            </form>
        </div>
        <a href="{% url 'app01:logout' %}">退出登录</a>
    </div>
    <main>
        <div class="container">
            <h5>用户名：{{ user.name }}</h5>
            <h5>性别：{{ user.get_gender_display }}</h5>
            <h5>用户账号：{{ user.account }}</h5>
        </div>
        <div class="container">
        <h2>用户所有帖子</h2>
    {% for post in posts %}
        <div class="article-card">
            <div class="article-card-user-info">
                <a href="{% url 'ys:user' id_=post.author.id %}" class="link-styled"><span style="padding: 10px;">{{ post.author }}</span></a>
                <span style="padding: 10px;">{{ post.f_updated_at }}</span>
                <span style="padding: 10px;">{{ post.topic }}</span>
            </div><br>
            <div class="article-card-title">
                 <a target="_blank" href="{% url 'ys:article' id_=post.id %}">
                     <div class="article-card-title">{{ post.title }}</div>
                 </a>
            </div>
            <div class="article-card-content">
                {{ post.content|slice:":50" }}{% if post.content|length > 50 %}...{% endif %}
            </div>
            <br>
        </div>
    {% endfor %}
    </div>
        <div class="container">
        <h2>用户收藏帖子</h2>
    {% for favorite in favorites %}
        <div class="article-card">
            <div class="article-card-user-info">
                <a href="{% url 'ys:user' id_=favorite.post.author.id %}" class="link-styled"><span style="padding: 10px;">{{ favorite.post.author }}</span></a>
                <span style="padding: 10px;">{{ favorite.post.f_updated_at }}</span>
                <span style="padding: 10px;">{{ favorite.post.topic }}</span>
            </div><br>
            <div class="article-card-title">
                 <a target="_blank" href="{% url 'ys:article' id_=favorite.post.id %}">
                     <div class="article-card-title">{{ favorite.post.title }}</div>
                 </a>
            </div>
            <div class="article-card-content">
                {{ favorite.post.content|slice:":50" }}{% if favorite.post.content|length > 50 %}...{% endif %}
            </div>
            <br>
        </div>
    {% endfor %}
    </div>
    </main>
</body>
</html>